Containerfile
Dockerfile
.containerignore
.dockerignore
node_modules
**/node_modules
README.md
.next
.git
.gitignore
*.md
dist
**/dist
.pnpm
**/.pnpm
*.log
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.DS_Store
Thumbs.db
*.tsbuildinfo
**/*.tsbuildinfo
coverage
**/coverage
.nyc_output
**/.nyc_output
.cache
**/.cache
.temp
**/.temp